# Project exclude paths
/source/ts-parsec/Parsers/AlternativeParser.js
/source/ts-parsec/Parsers/AlternativeParser.js.map
/source/ts-parsec/Parsers/AmbiguousParser.js
/source/ts-parsec/Parsers/AmbiguousParser.js.map
/source/ts-parsec/Parsers/ApplyParser.js
/source/ts-parsec/Parsers/ApplyParser.js.map
/source/ts-parsec/Parsers/ErrorParser.js
/source/ts-parsec/Parsers/ErrorParser.js.map
/source/ts-parsec/Parsers/OptionalParser.js
/source/ts-parsec/Parsers/OptionalParser.js.map
/source/ts-parsec/Parsers/ParserInterface.js
/source/ts-parsec/Parsers/ParserInterface.js.map
/source/ts-parsec/Parsers/RepeativeParser.js
/source/ts-parsec/Parsers/RepeativeParser.js.map
/source/ts-parsec/Parsers/Rule.js
/source/ts-parsec/Parsers/Rule.js.map
/source/ts-parsec/Parsers/SequencialParser.js
/source/ts-parsec/Parsers/SequencialParser.js.map
/source/ts-parsec/Parsers/TokenParser.js
/source/ts-parsec/Parsers/TokenParser.js.map
/source/ts-parsec/index.js
/source/ts-parsec/index.js.map
/source/ts-parsec/Lexer.js
/source/ts-parsec/Lexer.js.map
/source/KD.js
/source/KD.js.map
/source/KDLexer.js
/source/KDLexer.js.map
/source/KSL.js
/source/KSL.js.map
/source/List.js
/source/List.js.map
/source/Log.js
/source/Log.js.map
/source/Nums.js
/source/Nums.js.map
/source/Tag.js
/source/Tag.js.map
/source/Test.js
/source/Test.js.map